<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather App</title>
</head>

<body class="bg-img">

    <h1 class="showHeading">Temperature of <%= query %> is <%= temp %>°Celsius</h1>
    <p class="showWeather">The Weather is currently <strong><%= weatherDescription %></strong></p>

</body>


</html>